body {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background: #7399a2;
}

.game-container {
  margin: 100px auto;
}

.hidden {
  visibility: hidden;
}

.game-text {
  font-size: 2rem;
  font-weight: bold;
}
.options-container {
  padding: 20px;
}

.options-container button {
  padding: 10px 30px;
  background: #564b83;
  color: #fff;
  font-size: 1.5rem;
}

.players-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 50px;
}

.player-container {
  background: #dbdbdb;
  width: 600px;
  max-width: 95%;
  border: 3px solid #65848c;

  height: 520px;
}

.cards-container {
  display: flex;
  gap: 0.6rem;
  padding: 5px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.cards-container img {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 0.3px solid #333;
  box-shadow: 2px 3px 5px #888888;
  width: 120px;
}

.total-wins {
  font-size: 1.5rem;
  font-weight: bold;
}
